{% extends 'base.html.twig' %}

{% block title %}Edit Pomodoros{% endblock %}

{% block body %}
    <h1>Edit Pomodoros</h1>

    <turbo-frame id="turbo-pomodoro-settings">
        {{ include('pomodoros/_form.html.twig', {'button_label': '✅ Update'}) }}

        {{ include('pomodoros/_backtolist_form.html.twig') }}

        {{ include('pomodoros/_delete_form.html.twig') }}
    </turbo-frame>
{% endblock %}
